extends layout

block content 
    section.content
          .container-fluid
            // Small boxes (Stat box)
            .row
              .col-lg-3.col-6
                // small box
                .small-box.bg-info
                  .inner
                    h3=rowsSub[0].count
                    p Subscribe
                  .icon
                    i.ion.ion-bag
                  a.small-box-footer(href='/admin/subscribe/index')
                    | More info 
                    i.fas.fa-arrow-circle-right
              // ./col
              .col-lg-3.col-6
                // small box
                .small-box.bg-success
                  .inner
                    h3=rowsPost[0].count
                    p Posts
                  .icon
                    i.ion.ion-stats-bars
                  a.small-box-footer(href='/admin/post/index')
                    | More info 
                    i.fas.fa-arrow-circle-right
              // ./col
              .col-lg-3.col-6
                // small box
                .small-box.bg-warning
                  .inner
                    h3=rowsUser[0].count
                    p User Registrations
                  .icon
                    i.ion.ion-person-add
                  a.small-box-footer(href='/admin/user/index')
                    | More info 
                    i.fas.fa-arrow-circle-right
              // ./col
              .col-lg-3.col-6
                // small box
                .small-box.bg-danger
                  .inner
                    h3=rowsContact[0].count
                    p Contact
                  .icon
                    i.ion.ion-pie-graph
                  a.small-box-footer(href='/admin/contact/index')
                    | More info 
                    i.fas.fa-arrow-circle-right
    