extends layout

block content
    .heading-page.header-text
      section.page-heading
        .container
          .row
            .col-lg-12
              .text-content
                h4 about us
                h2 more about us!
    // Banner Ends Here
    section.about-us
      .container
        .row
          .col-lg-12
            h4.mb-4 About us
            img(src='/images/about-us.png', alt='')
            p Welcome to our food blog! We are JamesThew Blog, food enthusiasts who love to share our passion for cooking and baking with others. Our goal is to inspire home cooks to experiment with new recipes, try different cuisines, and discover their own unique style of cooking. We started this blog as a way to document our culinary adventures and share our favorite recipes with family and friends. Over time, our blog has grown into a community of like-minded foodies who share our love of good food and good company.
        .row
          .col-lg-6
            h4 Our Recipes
                   
            p On our blog, you'll find a variety of recipes ranging from quick and easy weeknight meals to more elaborate dishes for special occasions. We believe that cooking should be fun and approachable, and we try to create recipes that are both delicious and accessible. 
            p br We also love to experiment with different cuisines and flavors, and we're always on the lookout for new and interesting ingredients to incorporate into our recipes. Whether you're a seasoned chef or a beginner in the kitchen, we hope you'll find something to inspire you on our blog.
          .col-lg-6
            h4 Our Philosophy
                    
            p At our core, we believe that food is more than just fuel for the body - it's a way to connect with others, to share stories and experiences, and to nourish the soul. We believe in using fresh, seasonal ingredients whenever possible, and we try to source our ingredients from local farmers and producers. 
            p We also believe that cooking and baking should be a joyful and rewarding experience, and we hope to inspire others to find joy in the kitchen as well. Whether you're cooking for one or hosting a dinner party, we believe that food has the power to bring people together and create lasting memories.
        .row
          .col-lg-12
            h4 Thank You
            img(src='assets/images/about-us.jpg', alt='')
            p Welcome to our food blog! We are JamesThew Blog, food enthusiasts who love to share our passion for cooking and baking with others. Our goal is to inspire home cooks to experiment with new recipes, try different cuisines, and discover their own unique style of cooking. We started this blog as a way to document our culinary adventures and share our favorite recipes with family and friends. Over time, our blog has grown into a community of like-minded foodies who share our love of good food and good company.
        