extends layout

block content
    .heading-page.header-text
      section.page-heading
        .container
          .row
            .col-lg-12
              .text-content
                h4 Subscribe us
                h2 More delicious recipes!
    // Banner Ends Here
    section.contact-us
      .container
        .row
          .col-lg-12
            .down-contact
              .row.mb-5
                .col-lg-12

              .row.ml-5
                .col-lg-10
                  .sidebar-item.contact-form
                    .sidebar-heading
                      h2 Please select your subscribe plan:
                    .content
                      form#contact(action='/subscribe/'+ data[0].userId, method='post')
                        .row
                          .col-md-12
                              .row.ml-5
                                .col-md-4.row
                                    input.mr-4#1(type='radio', name='name', value='1 month', style="width: 20px")
                                    label(for='1' , style="margin-top: 12px; font-weight:bold") $10 / a month
                                .col-md-4.row
                                    input.mr-4#3(type='radio', name='name', value='3 months', style="width: 20px")
                                    label(for='3', style="margin-top: 12px; font-weight:bold") $20 / 3 months
                                .col-md-4.row
                                    input.mr-4#5(type='radio', name='name', value='5 months', style="width: 20px")
                                    label(for='5', style="margin-top: 12px; font-weight:bold") $35 / 5 months
                          .col-md-12.col-sm-12
                            fieldset
                              input#name(type='text', placeholder='Your name', value = "" + data[0].userName+ "")
                          .col-md-12.col-sm-12
                            fieldset
                              input#email(name='email', type='text', placeholder='Your email', value = "" + data[0].userEmail+ "")
                          .col-md-12.col-sm-12
                            fieldset
                                label Select your payment
                                select.form-control.mt-2(name='payment')
                                    option.selected(value = "Paypal") Paypal
                                    option(value = "Mastercard") Mastercard 
                                    option(value = "Visacard") Visacard
                          .col-lg-12.mt-5
                            fieldset
                              button#form-submit.main-button(type='submit') Subscribe
                
                          
          