.body{
  font-family: 'Roboto', sans-serif;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.login{
  background-color: #1e1e1e;
  padding-bottom: 137px;
  padding-top: 60px;
  padding-left: 350px;
}

.login form{
  margin-top: 200px;
  margin-left: 30px;
}
.login-form{
  margin-top: 200px;
}

.login p a{
  color:#f48840 ;
}


.login-form input{
  width: 100%;
  height: 46px;
  border: 1px solid #eee;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7a7a7a;
  outline: none;
  padding: 0px 15px;
  margin-bottom: 15px;

}

.login-form button{
  display: inline-block;
  background-color: #f48840;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all .3s;
  border: none;
  outline: none;
}


.login h2,h3{
  color: #f48840;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
  text-transform: uppercase;
}

footer .social li i{
  color: #f48840;
  margin-left: 17px; 
}

footer .about{
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  text-transform: capitalize;
  padding-right: 20px;
}

footer .link {
  text-align: left;
  font-size: 15px;
}

footer .link a{
  color: #f48840;
  margin-left: 15px;
}

footer .link i{
  color: #f48840;
}

footer .link li{
  margin-top: 10px;
}

footer h5{
  text-align: left;
}

footer h2{
  text-align: left;
  color: #f48840;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
}

.search-button{
  display: inline-block;
  background-color: #f48840;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 14px 20px;
  text-transform: uppercase;
  transition: all .3s;
  border: none;
  margin-top: 2px;
}

